:root {
  --neon-orange: #28a745;
  --neon-orange-light: #85e085;
  --neon-green: #121212;
  --neon-green-light: #2C2C2C;
  --neon-blue: #28a745;
  --background-light: #FFFFFF;
  --background-dark: #000000;
  --text-light: #000000;
  --text-dark: #FFFFFF;
}

body, html, #root {
  background-color: var(--background-light);
  color: var(--text-light);
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body, html, #root {
  background-color: var(--background-black);
  color: var(--text-light);
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--neon-orange);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-light);
  text-shadow: 0 0 8px var(--neon-orange);
  box-shadow: 0 0 20px var(--neon-orange) inset;
}

.App-link {
  color: var(--neon-blue);
}

.neon-logo {
  filter: drop-shadow(0 0 6px var(--neon-orange)) drop-shadow(0 0 10px var(--neon-orange-light));
  transition: filter 0.3s ease-in-out;
}

.neon-logo:hover {
  filter: drop-shadow(0 0 10px var(--neon-orange-light)) drop-shadow(0 0 14px var(--neon-orange));
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
